src/CMS3.o
src/CMS3Connector.o
src/CMS3Looper.o
src/ditto_ana_mybaby.o
#merge_macro.C
#merge_script.sh
#package.tar.gz
#run_baby_run.sh
#sweeproot.sh
#sweeproot_macro.C
batchsubmit/__package/
batchsubmit/camp*
batchsubmit/mybaby_v0.0.1/
batchsubmit/mybaby_v0.0.2/
batchsubmit/mybaby_v0.0.3/
batchsubmit/mybaby_v0.0.4/
batchsubmit/mybaby_v0.0.5/
batchsubmit/setup.sh
